/* home info */
#home-info {
    background-color: #C3BEEE;
    border-radius: 25px;
}

/* end of home info */

/* adventure gamemode page start */
.start-text-one {
    font-size: 40px;
    font-weight: bold;
}
.start-text-two {
    font-size: 20px;
    font-weight: bold;
}

.win-text-one {
    font-size: 40px;
    font-weight: bold;
}

.win-text-two {
    font-size: 20px;
    font-weight: bold;
}

.lose-text-one {
    font-size: 40px;
    font-weight: bold;
}

.lose-text-tw0 {
    font-size: 20px;
    font-weight: bold;
}

.adv-monster-image {
    width: 15vw;
    margin: 5vh 0 10vh 0;
}

#adventure-logos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.adv-monster-image {
    width: 15vw;
    margin: 5vh 0 10vh 0;
}

.player-icon {
    max-height: 8vh;
    width: auto;
    padding: 0 1% 0 1%;
}

.adv-lottie {
    width: 500px;
    height: 500px;
}
/* adventure gamemode page end */

/* navigation bar start */
nav {
    background-color: #F2E0A4;
    padding-left: 1%;
}
.nav-item {
    padding: 0 5% 0 5%;
}

.navigation-logo { 
    max-height: 8vh;
    width: auto;
}

/* navigation bar end */

/* mains start */
h1 {
    padding-top: 14vh !important;
    text-align: center;
    margin: 0 !important;
    padding-bottom: 4vh;
}

body {
    background-color: #CAECF8 !important;
}
/* mains end */

.gamemode-header {
    text-decoration: none;
    color: #717B98;

}

#pvp {
    padding: 6% 13% 6% 13%;
    background-color: #FFCBCB;
    border-radius: 10%;
    display: flex;
    flex-direction: column;

}

#adv {
    padding: 6% 13% 6% 13%;
    background-color: #FFD1A9;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center !important;
    margin-bottom: 2% !important;
}


#login {
    background-color: #96DCC5;
    padding: 5% 8% 5% 8%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#register {
    background-color: #96DCC5;
    padding: 5% 8% 5% 8%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



/*help page */
h2.h2 {
    display: flex;
    color: #605296;
    margin-left: 15px;
    font-weight: bold;
    margin-bottom: 5px !important;
}


li {
    margin-left: 30px;
    font: arial;
    color: #2D3D6A;
}

div.help-purpose {
    display: flex;
    margin-left: 40px;
    font: arial;
    padding: 6px;

}

  
.monsters-defeated {
    flex-grow: 1;
    height: 100px;
}

.pets-evolved {
    flex-grow: 1;
    height: 100px;
}
  
.monsters-defeated + .pets-evolved {
    margin-left: 2%;
}

.monsters-defeated {
    flex-grow: 1;
    height: 100px;
}

.help-logo {
    max-height: 8vh;
    width: auto;
    padding: 0 1% 0 1%;
}

.mascot-headers-monsters {
    display: flex;
    color: #605296;
    margin-left: 15px;
    font-weight: bold;
    margin-bottom: 5px !important;
}
/*help page end */

/* leaderboard start */
#leaderboard-content {
    padding: 6%;
    background-color: #FFDAD3;
    margin: 2vh 8vw 2vh 8vw;
    border-radius: 4rem !important;
}
/* leaderboard end */

/* login start */
#login-page {
    background-color: #CAECF8;
    height: 100vh;
    width: 100vw;
}

.login-logo {
    max-height: 8vh;
    width: auto;
    padding: 0 1% 0 1%;
}

.login-text {
    margin: 2vh 0 0 0;
}

/* login end */

/* pvp start */
.pvp-logo {
    max-height: 8vh;
    width:auto; 
    padding: 0 1% 0 1%;
}
/* pvp end */

#cat-animation {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #CAECF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bear-animation {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #CAECF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pfp {
    width: 10vw;
    border-radius: 100%;
}

#username {
    font-size: 50px;
}

#dateinfo {
    padding-left: 50%;
    font-size: 15px;
}

.infoheader {
    font-weight: bold;
    font-size: 20px;
}

p.stats {
    margin-right: 70px;

    }


.stats {
    font-size: 15px;
}


#sentgenerated {
    color: #707070;
    font-size: 20px;
    font-weight: bold;
    padding: 3vh 1vw 2vh 1vw;
}

#sentgencont {
    background-color: #FAE7C6;
    margin-bottom: 5vh;
}

#startscreen {
    height: 100vh;
    width: 100vw;
    background-color: #CAECF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#congratulations {
    height: 100vh;
    width: 100vw;
    background-color: #CAECF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#losing {
    height: 100vh;
    width: 100vw;
    background-color: #CAECF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gamepage {
    background-color: #CAECF8;
    height: 100vh;
    width: 100vw;
}

#expbar {
    background-color: #ddd;
    margin-bottom: 1vh;
}

#explevel {
    background-color: #4CAF50;
}

#expcont {
    display: flex;
    flex-direction: column;
}

#exptext {
    margin-bottom: 3vh;
}

#logout-Btn {
    background-color: #FFBF6B; 
}

#inventory-page {
    margin-top: 5vh;
}

#inv-header {
    margin: 0;
    padding-bottom: 4vh;
}

#inventory {
    background-color: #96DCC5;
    border-radius: 25px;
    justify-content: center;
}

.hover {
    background-color: white;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#egg:hover img {
    opacity: 0.3;
}

#egg:hover .hover {
    opacity: 1;
}

/* readme start */

.readme-big {
    width: 40%;
}